.page {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.singleStudentContainer {
  display: flex;
  width: 85%;
  margin: 25px auto;
}

.studentContainer {
  border-bottom: 1px solid lightgray;
  img {
    width: 20%;
    height: 20%;
    transform: translateY(10%);
    border: 1px solid lightgray;
    border-radius: 50%;
  }
}

.studentInfo {
  margin-left: 25px;
  width: 100%;
  p {
    margin: 5px 30px;
  }
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  button {
    background-color: transparent;
    border: transparent;
  }
}

button:focus {
  outline: none;
}

input {
  width: 100%;
  font-size: 3rem;
  border: none;
  border-bottom: 1px solid lightgrey;
}

span {
  margin-left: 20px;
}

i {
  color: grey;
}

.addTag {
  font-size: 1.7rem;
  width: 30%;
  margin: 50px 25px 0;
}

div.tags{
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}

.tags {
  display: flex;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75px;
  padding: 10px 0;
  background-color: lightgrey;
  font-size: 1.2rem;
  border-radius: 10px;
  p{
    margin: 0;
  }
}

